body {
    font: 400 16px/24px Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    font-family: Google Sans, sans-serif;
    font-weight: 400;
}

h1 {
    color: inherit;
    font-size: 32px;
    letter-spacing: 0;
    margin: 48px 0 24px;
}

h2 {
    border-bottom: 0;
    font-size: 22px;
    letter-spacing: 0;
    margin: 48px 0 24px;
    padding-left: 4px;
    padding-bottom: 0;
    border-left: 12px solid #009688;
    border-bottom: 2px solid #009688;
}

h3 {
    font-size: 18px;
    margin: 32px 0 16px;
    padding-left: 8px;
    border-left: 8px solid #4db6ac;
}

h4 {
    padding-left: 12px;
    margin: 32px 0 16px;
    border-left: 4px solid #b2dfdb;
    background: #b2dfdb;
}

h5 {
    color: #004d40;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font: 14px Roboto, sans-serif;
    margin: 16px 0;
    width: 100%;
}

tr {
    background: #78909c;
    border: 0;
    border-top: 1px solid #cfd8dc;
}

th {
    color: #fff;
}

td {
    background: rgba(255, 255, 255, .95);
    vertical-align: top;
}

pre {
    font: 14px/20px Roboto Mono, monospace;
    margin: 16px 0;
    overflow-x: auto;
    padding: 8px;
    position: relative;
    background: #f7f7f7;
    color: #37474f;
}

a {
    color: #00BCd4;
    text-decoration: none;
}

a:visited {
    color: #00BCd4;
}
